.main {
    display: flex;
}

.main__elements {
    width: 60%;
    height: 60vh;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}
.main__area {
    width: 40%;
    background-color: grey;
    height: 60vh;
}

.panel {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
}
.panel h3 {
    margin-left: 20px;
}